.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 45px;

}

.cart-container {
    background-color: #FFE0B3;
}